<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Dating App</a>

    <!-- @if (this.accountService.currentUser()) { -->
    <ul class="navbar-nav me-auto mb-2 mb-md-0">
    @if (this.accountService.currentUser()) {
        <li class="nav-item">
          <a routerLink="/members" class="nav-link" routerLinkActive="active" >Matches</a>
        </li>
        <li class="nav-item">
          <a routerLink="/lists" routerLinkActive="active" class="nav-link">Lists</a>
        </li>
        <li class="nav-item">
          <a routerLink="/messages" routerLinkActive="active" class="nav-link">Messages</a>
        </li>
        <!-- <li class="nav-item" *appHasRoleDirective="['Admin','Moderator']"> -->
        <li class="nav-item" *appHasRole="['Admin','Moderator']">
           <a  routerLink="/admin" class="nav-link" routerLinkActive="active">Admin</a>
        </li>
      }
      <li class="nav-item">
         <a  routerLink="/errors" class="nav-link" routerLinkActive="active">Test Errors</a>
      </li>
    </ul>
      
      <!-- router-outlet -->

    @if (!this.accountService.currentUser()) {
      <form #loginForm="ngForm" (ngSubmit)="login()" class="d-flex" autocomplete="off">
        <input
          name="username"
          [(ngModel)]="model.username"
          class="form-control me-2"
          placeholder="Username"
        />
        <input
          name="password"
          [(ngModel)]="model.password"
          class="form-control me-2"
          placeholder="Password"
          type="password"
        />
        <button class="btn btn-outline-success" type="submit">Login</button>
      </form>
    }

    @if (this.accountService.currentUser()) {
      
      <div dropdown class="dropdown">
        <img 
          src="{{this.accountService.currentUser()?.photoUrl || './assets/user.png'}}" 
          alt="User main photo"
          class="me-2"
          >
        <a dropdownToggle class="dropdown-toggle text-light text-decoration-none"
          >Welcome {{ this.accountService.currentUser()?.knownAs }}!</a
        >
        <div *dropdownMenu class="dropdown-menu">
          <a routerLink="/member/edit" class="dropdown-item">Edit profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item">Followers</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logout()">Logout</a>
        </div>
      </div>
    }
  </div>
</nav>
